.grid-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);


    /*aliniacion horizintal*/

    justify-items: center;

    /* aliniacion vertical */

    align-items: center;

}

.grid-container .item{
    background: #ff8000;

    /*aliniacion horizintal*/
    justify-self: stretch;

    /* aliniacion vertical */
    align-self: stretch;
}