.grid-container{
    display: grid;
    gap:20px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"header         header          header"
                        "sidebar-1      contenido       sidebar-2"
                        "sidebar-1      widgets         sidebar-2"
                        "footer         footer          footer";
}


.grid-container .header{
    background-color: #ff8000;
    grid-column: header / header;
   
}  

.grid-container .sidebar-1{
    background-color: #93e;

    /* grid-row:sidebar-1 / sidebar-1; */

    grid-area: sidebar-1;
}



.grid-container .contenido{
    background: #fff;
    color: #000;
    grid-area: contenido;
}

.grid-container .widgets{
    background: #ff8000;
    grid-area: widgets; 
}

.grid-container .sidebar-2{
    background: #93e;
    grid-area: sidebar-2;
}

.grid-container .footer{
    background: rgb(51, 238, 113);
    grid-area: footer;
}