@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background:#e9ecf4 ;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 45px auto;
    /*----CSSGRID-----*/
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                         "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .sidebar,
.contenedor .aside,
.contenedor .footer,
.contenedor .contenido{
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
}

.contenedor .header{
    background: #12203e;
    color: #fff;
    /* grid-column: span 3; */
    grid-area: header;
}

.contenedor .contenido{
    /* grid-column: span 2; */
    grid-area: contenido;
}

.contenedor .sidebar{
    /* grid-column: 3 / 4; */
    background: #faa43d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    /* grid-row: span 2; */
    color: #fff;
    grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: #55a8fd;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1;
}

.contenedor .widget-2{
    grid-area: widget-2;
}

.contenedor .footer{
    /* grid-column: span 3; */
    
    display: flex;
    justify-content: center;
    background:#12203e;
    color: #fff;
    grid-area: footer;
}


@media screen and (max-width:768px){

    .contenedor{
        grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "sidebar sidebar sidebar"
                         "widget-1 widget-1 widget-2"
                         "footer footer footer";
    }
}

/* @media screen and (max-width:768px){
    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar{
        grid-column: 1 / -1;
    }

    .contenedor .widget-1{
        grid-column: span 2;
    }
} */